nav{
    height: 10vh;
    padding: 1vh 0;
    width: 100%;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav .center{
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

nav .navbtn{
    cursor: pointer;
    width: 48px;
    transition: border 0.5s ease;
}

.navbtn:hover{
    border: 1px solid  black;
}

.navbar{
    position: absolute;
    transition: all .5s ease;
    left: -110%;
    top: 0;
    width: 80%;
    z-index: 9;
    height: 100vh;
}

.navbar ul{
    width: 100%;
    height: 100%;
    list-style: none;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar ul li{
    text-align: center;
    width: 100%;
}

.navbar ul li a{
    display: block;
    width: 100%;
    padding: 10% 10px;
    height: 100%;
    color: white;
    font-size: calc(12px + 0.2vw);
}

.navbar ul li:hover{
    background: white;
}

.navbar ul li:hover a{
    color: black;
}

.sec1{
    height: 88vh;
    width: 100%;
}

.sec1 .center, .sec3 .center{
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
}

.textsc1{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sec3 .textsc1{
    width: 50%;
} .sec3 .imgsc1{
    width: 40%;
}

.textsc1 h1{
    margin: 8px 0;
    font-weight: bold;
    font-size: clamp(30px, 30px + 0.2vw, 45px);
}

.sec3 .textsc1 h1{
    padding: 5px;
    background: gray;
    color: white;
    font-size: clamp(16px, 16px + 0.2vw, 26px);
    border-radius: 5px;
}

.sec3{
    height: 80vh;
    width: 100%;
}
.textsc1 p{
    margin: 8px 0;
    font-weight: bold;
    font-size: clamp(14px, 14px + 0.2vw, 17px);
}

.textsc1 br{
    display: none;
}

.textsc1 a{
    margin: 5px 0;
    padding: 10px 0;
    display: block;
    text-align: center;
    width: 60%;
    background: purple;
    color: white;
}

.sec3 .textsc1 a{
    background: red;
    width: 100%;
    padding: 12px 0;
}

.textsc1 a:hover{
    filter: invert(100%);
}

.imgsc1{
    width: 35%;
}

.sec2{
    height: 80vh;
    width: 100%;
    padding: 1% 0;
    background: black;
}

.sec2 .center{
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}

.sec2 .imgsc2{
    width: 30%;
}

.sec2 .listsc2{
    width: 55%;
    height: 100%;
    padding: 0% 2%;
    display: grid;
    place-content: center;
}

.listsc2 h2{
    font-weight: bold;
    margin-top: 5%;
    font-size: clamp(30px, 30px + 0.2vw, 38px);
    color: white;
}

.listsc2 ul{
    color: white;
    margin: 2% 10%;
    width: 100%;
    height: 100%;
}

.listsc2 ul li{
    font-weight: bold;
    margin: 2% 0;
    font-size: clamp(12px, 12px + 0.2vw, 16px);
}

.sec4{
    height: 80vh;
    width: 100%;
    background: black;
}

.sec4 .center{
    justify-content: space-between;
    align-items: center;
}

.imgsc4 {
    width: 40%;
    overflow: hidden;
    max-height: 100%;
}
#sec5{
    width: 100%;
    background: white;
    height: 100vh;
}
#sec5 .textsc4{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#sec5 .textsc4 h3{
    white-space: nowrap;
}
#sec5 .textsc4 *{
    margin: 2% 0;
    color: black;
    border-color: black;
}
#sec5 .imgsc4{
    width: 40%;
}
.imgsc4 img{
    max-height: 100%;
}

.textsc4{
    width: 55%;
    display: grid;
    place-content: center;
    height: 80%;
    padding: 5% 2%;
}

.textsc4 h3{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin: 5% 0;
    font-size: clamp(16px, 16px + 0.4vw, 24px);
}

.textsc4 p{
    color: white;
    margin: 5% 0;
    font-weight: bold;
    line-height: 110%;
    font-size: clamp(12px, 12px + 0.2vw, 17px);
}

.textsc4 a{
    margin: 5% 0;
    display: block;
    width: 80%;
    font-weight: bolder;
    padding: 12px 0;
    text-align: center;
    font-size: clamp(12px, 12px + 0.2vw, 17px);
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

a:hover{
    box-shadow: inset 0 0 16px black;
}

footer{
    height: 20vh;
    width: 100%;
    background: black;
}

.textfooter{
    width: 100%;
}

.textfooter p{
    font-size: clamp(11px, 11px + 0.2vw, 14px);
    color: white;
    font-weight: bolder;
    text-align: center;
    margin: 5% 0;
}
footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 5% 10%;
    justify-content: space-around;
}

footer a{
    color: white;
    font-size: clamp(10px, 10px + 0.2vw, 13px);
}